* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --logging-in-color: rgb(83, 119, 81);
  --white-background-color: rgb(245, 245, 245);
}

body,
form,
.input-container,
.input-section {
  display: flex;
}

form,
.input-section {
  flex-direction: column;
}

.log-in-text,
.log-in-button,
.sign-in-options {
  font-size: 16px;
}

.log-in-button,
.log-in-text {
  font-weight: 600;
}

.description,
.create-account-button {
  margin-bottom: 32px;
}

.viper-quote, 
.description {
  font-size: 24px;
  font-weight: bold;
}

body {
  background-color: rgb(245, 245, 245);
  width: 100vw;
  height: 100vh;
}

.background-container {
  background-image: url("titanfall-background.jpg");
  background-size: 100%;
  width: 600px;
  height: 100%;

  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: 900;

  flex-shrink: 0;
}

.info-container {
  margin: 96px 256px 64px 0px;
  padding: 0px 64px;
}

form {
  background-color: rgb(250, 250, 250);
  height: 332px;
  gap: 16px;

  box-shadow: 1px 2px 4px rgb(212, 212, 212);
  padding: 24px 64px 32px 64px;

  color: rgb(66, 66, 66);
}

h1 {
  font-size: 24px;
  color: black;
}

.input-container { 
  gap: 64px; 
}

label { 
  font-weight: lighter; 
}

input {
  width: 288px;
  height: 32px;

  border: 2px solid rgb(223, 223, 223);
  border-radius: 8px;
  padding: 16px 8px;
}

input[type="password"]:invalid { border: 2px solid rgb(255, 99, 99); }

input:focus {
  border: 2px solid rgb(161, 170, 255);
  outline: none;
}

.sign-in-options { 
  padding: 48px 64px; 
}

.create-account-button {
  background-color: var(--logging-in-color);
  width: 232px;
  height: 48px;

  border: none;
  border-radius: 12px;

  font-size: 18px;
  font-weight: bolder;
  color: white;
}

.log-in-button {
  background-color: var(--white-background-color);
  border: none;

  color: var(--logging-in-color);
}

.log-in-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}