* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --whiteish-color: rgb(245, 245, 245);
  --greenish-color: rgb(83, 119, 81);
  --greenish-hover-color: rgb(65, 94, 63);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(245, 245, 245);
}

.background-container {
  width: 600px;
  height: 100%;
  flex-shrink: 0;
  background-image: url("titanfall-background.jpg");
  background-size: 100%;
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: 900;
}

.background-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 72px;
  opacity: 70%;
  background-color: rgb(32, 32, 32);
}

img {
  width: 100px;
  height: 100px;
}

.game-title {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: rgb(238, 255, 0);
}

.info-container {
  margin: 128px 328px 64px 0px;
  padding: 0px 64px;
}

.description {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
}

.viper-quote {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-size: 24px;
}

.input-wrapper {
  width: 100%;
  height: 308px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgb(250, 250, 250);
  box-shadow: 1px 2px 4px rgb(212, 212, 212);
  color: rgb(61, 61, 61);
}

h1 {
  padding: 16px 48px 0px 48px;
  font-size: 24px;
  color: black;
}

.input-container {
  display: flex;
  gap: 64px;
  padding: 0px 48px;
}

.input-section {
  display: flex;
  flex-direction: column;
}

label { 
  font-weight: 400; 
}

input {
  width: 288px;
  height: 32px;
  border: 2px solid rgb(223, 223, 223);
  border-radius: 8px;
  padding: 16px 8px;
}

input[type="password"]:invalid { 
  border: 2px solid rgb(255, 99, 99); 
}

input:focus {
  border: 2px solid rgb(161, 170, 255);
  outline: none;
}

.sign-in-options {
  padding: 48px;
}

.create-account-button,
.log-in-button {
  border: none;
}

.create-account-button {
  width: 232px;
  height: 48px;
  margin-bottom: 32px;
  background-color: var(--greenish-color);
  box-shadow: 0px 2px 8px black;
  border-radius: 16px;
  font-size: 18px;
  font-weight: bolder;
  color: white;
}

.create-account-button:hover {
  background-color: var(--greenish-hover-color);
}

.log-in-button {
  background-color: var(--whiteish-color);
  font-size: 16px;
  font-weight: bold;
  color: var(--greenish-color);
}

.log-in-button:hover {
  color: var(--greenish-hover-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}