* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: rgb(201, 201, 201);
}

.background-side {
  background-image: url("titanfall-background.jpg");
  background-size: 100%;
  width: 600px;
  height: 100%;

  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: 900;
}